body {
    background-image: url("img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: papyrus;
   
    
}

a {
    text-decoration: none;
    border: 3px solid rgb(182, 182, 48);
    color: transparent;
    padding: 15px 40px;
    font-size: 28px;
    font-family: papyrus;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: relative;
    top: 400px;
    left: 5%;
  }
  a:before {
    content: "KNOW MORE";
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(182, 182, 48);
    background: rgb(34, 37, 80);
    font-size: 28px;
    top: 0;
    left: 100%;
    font-family: papyrus;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
  }
  a:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
  }
  a:after {
    content: "KNOW MORE";
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(182, 182, 48);
    background: rgb(18, 15, 44);
    font-size: 28px;
    top: 0;
    left: 0;
    font-family: papyrus;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
  }
  a:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
  }
  p {
      
     margin-top: 200px;
     margin-bottom: -350px;
     margin-right: -100px;
     color: aliceblue;
     font-size: 20px;
     margin-left: 50px;
    
  }

  h1 {
      color: aliceblue;
      font-size: 50px;
      margin-left: 50px;
  }

  span {
      color: rgb(47, 38, 128);
  }